# 1) Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [1]:
import numpy as np
import pandas as pd

In [2]:
llg=pd.read_csv("Laliga.csv")
llg.replace('-','0',inplace= True)

print(llg)

   Unnamed: 0           Unnamed: 1 Unnamed: 2 Unnamed: 3   Unnamed: 4  \
0         Pos                 Team    Seasons     Points  GamesPlayed
1           1          Real Madrid         86       4385         2762
2           2            Barcelona         86       4262         2762
3           3      Atletico Madrid         80       3442         2614
4           4             Valencia         82       3386         2664
5           5      Athletic Bilbao         86       3368         2762
6           6              Sevilla         73       2819         2408
7           7             Espanyol         82       2792         2626
8           8        Real Sociedad         70       2573         2302
9           9             Zaragoza         58       2109         1986
10         10           Real Betis         51       1884         1728
11         11  Deportivo La Coruna         45       1814         1530
12         12           Celta Vigo         51       1789         1698
13         13           Valladolid         42       1471         1466
14         14     Racing Santander         44       1416         1428
15         15       Sporting Gijon         43       1389         1458
16         16              Osasuna         37       1351         1318
17         17               Malaga         36       1314         1255
18         18               Oviedo         38       1174         1192
19         19             Mallorca         27       1148          988
20         20           Las Palmas         33       1020         1096
21         21           Villarreal         17        970          646
22         22              Granada         23        667          742
23         23       Rayo Vallecano         17        662          652
24         24                Elche         21        606          678
25         25               Getafe         12        553          456
26         26             Hercules         20        538          628
27         27             Tenerife         13        510          494
28         28               Murcia         18        445          586
29         29               Alaves         12        421          380
..        ...                  ...        ...        ...          ...
32         32             Sabadell         14        353          426
33         33                Cadiz         12        343          448
34         34             Logrones          9        293          346
35         35            Castellon         11        285          334
36         36             Albacete          7        277          270
37         37              Almeria          6        242          228
38         38              Cordoba          9        230          282
39         39           Compostela          4        190          160
40         40           Recreativo          5        188          186
41         41            Burgos CF          6        168          204
42         42           Pontevedra          6        150          180
43         43             Numancia          4        148          152
44         44                Eibar          3        132          114
45         45               Arenas          7        107          130
46         46          Real Burgos          3         96          114
47         47            Gimnastic          4         91          116
48         48          Extremadura          2         83           80
49         49               Merida          2         81           80
50         50             Alcoyano          4         76          108
51         51                 Jaen          3         71           90
52         52           Real Union          4         56           72
53         53           AD Almeria          2         52           68
54         54               Europa          3         42           54
55         55               Lleida          2         40           68
56         56              Leganes          1         35           38
57         57                Xerez          1         34           38
58         58               Condal          1         22           30
59         59      Atletico Tetuan          1         19           30
60         60     Cultural Leonesa          1         14           30
61         61               Girona          1          0            0

   Unnamed: 5  Unnamed: 6 Unnamed: 7 Unnamed: 8    Unnamed: 9 Unnamed: 10  \
0    GamesWon  GamesDrawn  GamesLost   GoalsFor  GoalsAgainst    Champion
1        1647         552        563       5947          3140          33
2        1581         573        608       5900          3114          25
3        1241         598        775       4534          3309          10
4        1187         616        861       4398          3469           6
5        1209         633        920       4631          3700           8
6         990         531        887       3680          3373           1
7         948         608       1070       3609          3889           0
8         864         577        861       3228          3230           2
9         698         522        766       2683          2847           0
10        606         440        682       2159          2492           1
11        563         392        575       2052          2188           1
12        586         389        723       2278          2624           0
13        463         384        619       1767          2180           0
14        453         336        639       1843          2368           0
15        471         358        629       1753          2152           0
16        426         327        565       1500          1834           0
17        390         330        535       1421          1763           0
18        408         292        492       1642          1951           0
19        333         256        399       1182          1371           0
20        367         242        487       1347          1746           0
21        266         172        208        892           789           0
22        218         175        349        819          1157           0
23        189         148        305        760          1088           0
24        203         180        295        750          1022           0
25        147         112        197        520           633           0
26        184         149        295        716          1050           0
27        155         128        211        619           744           0
28        145         143        298        607           992           0
29        125          81        174        458           623           0
..        ...         ...        ...        ...           ...         ...
32        129          95        202        492           720           0
33        104         127        217        393           662           0
34         96          92        158        291           489           0
35        103          79        152        419           588           0
36         76          76        118        320           410           0
37         62          56        110        244           366           0
38         82          63        137        285           430           0
39         52          45         63        199           241           0
40         50          46         90        202           296           0
41         59          50         95        216           310           0
42         53          44         83        165           221           0
43         37          37         78        155           253           0
44         35          27         52        139           167           0
45         43          21         66        227           308           0
46         26          44         44        101           139           0
47         34          16         66        181           295           0
48         20          23         37         62           117           0
49         19          24         37         70           115           0
50         30          16         62        145           252           0
51         29          13         48        121           183           0
52         21          14         37        153           184           0
53         17          18         33         71           116           0
54         18           6         30         97           131           0
55         13          14         41         70           182           0
56          8          11         19         36            55           0
57          8          10         20         38            66           0
58          7           8         15         37            57           0
59          7           5         18         51            85           0
60          5           4         21         34            65           0
61          0           0          0          0             0           0

   Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
0    Runner-up       Third      Fourth       Fifth       Sixth           T
1           23           8           8           3           4          79
2           25          12          12           4           6          83
3            8          16           9           7           6          56
4            6          10          11          10           7          50
5            7          10           5           8          10          49
6            4           4           5          12           6          32
7            0           4           5           2           5          16
8            3           2           5           4           3          19
9            1           4           5           4           4          18
10           0           2           3           4           4          14
11           5           4           1           0           1          12
12           0           0           2           4           5          11
13           0           0           1           1           1           3
14           1           1           2           0           1           5
15           1           1           2           2           1           7
16           0           0           2           2           2           6
17           0           0           1           0           1           2
18           0           3           2           2           4          11
19           0           2           0           2           1           5
20           1           1           1           1           1           5
21           1           1           2           3           2           9
22           0           0           0           0           2           2
23           0           0           0           0           0           0
24           0           0           0           1           1           2
25           0           0           0           0           1           1
26           0           0           0           1           4           5
27           0           0           0           2           0           2
28           0           0           0           0           0           0
29           0           0           0           0           1           1
..         ...         ...         ...         ...         ...         ...
32           0           0           1           1           0           2
33           0           0           0           0           0           0
34           0           0           0           0           0           0
35           0           0           1           2           0           3
36           0           0           0           0           0           0
37           0           0           0           0           0           0
38           0           0           0           1           0           1
39           0           0           0           0           0           0
40           0           0           0           0           0           0
41           0           0           0           0           0           0
42           0           0           0           0           0           0
43           0           0           0           0           0           0
44           0           0           0           0           0           0
45           0           1           0           3           0           4
46           0           0           0           0           0           0
47           0           0           0           0           0           0
48           0           0           0           0           0           0
49           0           0           0           0           0           0
50           0           0           0           0           0           0
51           0           0           0           0           0           0
52           0           0           0           0           1           1
53           0           0           0           0           0           0
54           0           0           0           0           0           0
55           0           0           0           0           0           0
56           0           0           0           0           0           0
57           0           0           0           0           0           0
58           0           0           0           0           0           0
59           0           0           0           0           0           0
60           0           0           0           0           0           0
61           0           0           0           0           0           0

   Unnamed: 17    Unnamed: 18   Unnamed: 19
0        Debut  Since/LastApp  BestPosition
1         1929           1929             1
2         1929           1929             1
3         1929        2002-03             1
4      1931-32        1987-88             1
5         1929           1929             1
6      1934-35        2001-02             1
7         1929        1994-95             3
8         1929        2010-11             1
9      1939-40        2012-13             2
10     1932-33        2015-16             1
11     1941-42        2014-15             1
12     1939-40        2012-13             4
13     1948-49        2013-14             4
14        1929        2011-12             2
15     1944-45        2015-16             2
16     1935-36        2016-17             4
17     1949-50        2008-09             4
18     1933-34        2000-01             3
19     1960-61        2012-13             3
20     1951-52        2015-16             2
21     1998-99        2013-14             2
22     1941-42        2016-17             6
23     1977-78        2015-16             8
24     1959-60        2014-15             5
25     2004-05        2015-16             6
26     1935-36        2010-11             5
27     1961-62        2009-10             5
28     1940-41        2007-08            11
29     1930-31        2016-17             6
..         ...            ...           ...
32     1943-44        1987-88             4
33     1977-78        2005-06            12
34     1987-88        1996-97             7
35     1941-42        1990-91             4
36     1991-92        2004-05             7
37     2007-08        2014-15             8
38     1962-63        2014-15             5
39     1994-95        1997-98            10
40     1978-79        2008-09             8
41     1971-72        1979-80            12
42     1963-64        1969-70             7
43     1999-00        2008-09            17
44     2014-15        2014-15            10
45        1929        1934-35             3
46     1990-91        1992-93             9
47     1947-48        2006-07             7
48     1996-97        1998-99            17
49     1995-96        1997-98            19
50     1945-46        1950-51            10
51     1953-54        1957-58            14
52        1929        1931-32             6
53     1979-80        1980-81            10
54        1929        1930-31             8
55     1950-51        1993-94            16
56     2016-17        2016-17            17
57     2009-10        2009-10            20
58     1956-57        1956-57            16
59     1951-52        1951-52            16
60     1955-56        1955-56            15
61     2017-18        2017-18             9

[62 rows x 20 columns]

In [3]:
#the column name for the laliga is Unnamed
print(llg.columns)

#Create new dataframe new_llg, with [0] row as new column name and remove the row with index[0] 

new_llg=llg.rename(columns=llg.iloc[0]).drop(llg.index[0])
print('\n\n\n\n',new_llg)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')




    Pos                 Team Seasons Points GamesPlayed GamesWon GamesDrawn  \
1    1          Real Madrid      86   4385        2762     1647        552
2    2            Barcelona      86   4262        2762     1581        573
3    3      Atletico Madrid      80   3442        2614     1241        598
4    4             Valencia      82   3386        2664     1187        616
5    5      Athletic Bilbao      86   3368        2762     1209        633
6    6              Sevilla      73   2819        2408      990        531
7    7             Espanyol      82   2792        2626      948        608
8    8        Real Sociedad      70   2573        2302      864        577
9    9             Zaragoza      58   2109        1986      698        522
10  10           Real Betis      51   1884        1728      606        440
11  11  Deportivo La Coruna      45   1814        1530      563        392
12  12           Celta Vigo      51   1789        1698      586        389
13  13           Valladolid      42   1471        1466      463        384
14  14     Racing Santander      44   1416        1428      453        336
15  15       Sporting Gijon      43   1389        1458      471        358
16  16              Osasuna      37   1351        1318      426        327
17  17               Malaga      36   1314        1255      390        330
18  18               Oviedo      38   1174        1192      408        292
19  19             Mallorca      27   1148         988      333        256
20  20           Las Palmas      33   1020        1096      367        242
21  21           Villarreal      17    970         646      266        172
22  22              Granada      23    667         742      218        175
23  23       Rayo Vallecano      17    662         652      189        148
24  24                Elche      21    606         678      203        180
25  25               Getafe      12    553         456      147        112
26  26             Hercules      20    538         628      184        149
27  27             Tenerife      13    510         494      155        128
28  28               Murcia      18    445         586      145        143
29  29               Alaves      12    421         380      125         81
30  30              Levante      11    416         402      113         95
..  ..                  ...     ...    ...         ...      ...        ...
32  32             Sabadell      14    353         426      129         95
33  33                Cadiz      12    343         448      104        127
34  34             Logrones       9    293         346       96         92
35  35            Castellon      11    285         334      103         79
36  36             Albacete       7    277         270       76         76
37  37              Almeria       6    242         228       62         56
38  38              Cordoba       9    230         282       82         63
39  39           Compostela       4    190         160       52         45
40  40           Recreativo       5    188         186       50         46
41  41            Burgos CF       6    168         204       59         50
42  42           Pontevedra       6    150         180       53         44
43  43             Numancia       4    148         152       37         37
44  44                Eibar       3    132         114       35         27
45  45               Arenas       7    107         130       43         21
46  46          Real Burgos       3     96         114       26         44
47  47            Gimnastic       4     91         116       34         16
48  48          Extremadura       2     83          80       20         23
49  49               Merida       2     81          80       19         24
50  50             Alcoyano       4     76         108       30         16
51  51                 Jaen       3     71          90       29         13
52  52           Real Union       4     56          72       21         14
53  53           AD Almeria       2     52          68       17         18
54  54               Europa       3     42          54       18          6
55  55               Lleida       2     40          68       13         14
56  56              Leganes       1     35          38        8         11
57  57                Xerez       1     34          38        8         10
58  58               Condal       1     22          30        7          8
59  59      Atletico Tetuan       1     19          30        7          5
60  60     Cultural Leonesa       1     14          30        5          4
61  61               Girona       1      0           0        0          0

   GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
1        563     5947         3140       33        23     8      8     3
2        608     5900         3114       25        25    12     12     4
3        775     4534         3309       10         8    16      9     7
4        861     4398         3469        6         6    10     11    10
5        920     4631         3700        8         7    10      5     8
6        887     3680         3373        1         4     4      5    12
7       1070     3609         3889        0         0     4      5     2
8        861     3228         3230        2         3     2      5     4
9        766     2683         2847        0         1     4      5     4
10       682     2159         2492        1         0     2      3     4
11       575     2052         2188        1         5     4      1     0
12       723     2278         2624        0         0     0      2     4
13       619     1767         2180        0         0     0      1     1
14       639     1843         2368        0         1     1      2     0
15       629     1753         2152        0         1     1      2     2
16       565     1500         1834        0         0     0      2     2
17       535     1421         1763        0         0     0      1     0
18       492     1642         1951        0         0     3      2     2
19       399     1182         1371        0         0     2      0     2
20       487     1347         1746        0         1     1      1     1
21       208      892          789        0         1     1      2     3
22       349      819         1157        0         0     0      0     0
23       305      760         1088        0         0     0      0     0
24       295      750         1022        0         0     0      0     1
25       197      520          633        0         0     0      0     0
26       295      716         1050        0         0     0      0     1
27       211      619          744        0         0     0      0     2
28       298      607          992        0         0     0      0     0
29       174      458          623        0         0     0      0     0
30       194      430          632        0         0     0      0     0
..       ...      ...          ...      ...       ...   ...    ...   ...
32       202      492          720        0         0     0      1     1
33       217      393          662        0         0     0      0     0
34       158      291          489        0         0     0      0     0
35       152      419          588        0         0     0      1     2
36       118      320          410        0         0     0      0     0
37       110      244          366        0         0     0      0     0
38       137      285          430        0         0     0      0     1
39        63      199          241        0         0     0      0     0
40        90      202          296        0         0     0      0     0
41        95      216          310        0         0     0      0     0
42        83      165          221        0         0     0      0     0
43        78      155          253        0         0     0      0     0
44        52      139          167        0         0     0      0     0
45        66      227          308        0         0     1      0     3
46        44      101          139        0         0     0      0     0
47        66      181          295        0         0     0      0     0
48        37       62          117        0         0     0      0     0
49        37       70          115        0         0     0      0     0
50        62      145          252        0         0     0      0     0
51        48      121          183        0         0     0      0     0
52        37      153          184        0         0     0      0     0
53        33       71          116        0         0     0      0     0
54        30       97          131        0         0     0      0     0
55        41       70          182        0         0     0      0     0
56        19       36           55        0         0     0      0     0
57        20       38           66        0         0     0      0     0
58        15       37           57        0         0     0      0     0
59        18       51           85        0         0     0      0     0
60        21       34           65        0         0     0      0     0
61         0        0            0        0         0     0      0     0

   Sixth   T    Debut Since/LastApp BestPosition
1      4  79     1929          1929            1
2      6  83     1929          1929            1
3      6  56     1929       2002-03            1
4      7  50  1931-32       1987-88            1
5     10  49     1929          1929            1
6      6  32  1934-35       2001-02            1
7      5  16     1929       1994-95            3
8      3  19     1929       2010-11            1
9      4  18  1939-40       2012-13            2
10     4  14  1932-33       2015-16            1
11     1  12  1941-42       2014-15            1
12     5  11  1939-40       2012-13            4
13     1   3  1948-49       2013-14            4
14     1   5     1929       2011-12            2
15     1   7  1944-45       2015-16            2
16     2   6  1935-36       2016-17            4
17     1   2  1949-50       2008-09            4
18     4  11  1933-34       2000-01            3
19     1   5  1960-61       2012-13            3
20     1   5  1951-52       2015-16            2
21     2   9  1998-99       2013-14            2
22     2   2  1941-42       2016-17            6
23     0   0  1977-78       2015-16            8
24     1   2  1959-60       2014-15            5
25     1   1  2004-05       2015-16            6
26     4   5  1935-36       2010-11            5
27     0   2  1961-62       2009-10            5
28     0   0  1940-41       2007-08           11
29     1   1  1930-31       2016-17            6
30     1   1  1963-64       2015-16            6
..   ...  ..      ...           ...          ...
32     0   2  1943-44       1987-88            4
33     0   0  1977-78       2005-06           12
34     0   0  1987-88       1996-97            7
35     0   3  1941-42       1990-91            4
36     0   0  1991-92       2004-05            7
37     0   0  2007-08       2014-15            8
38     0   1  1962-63       2014-15            5
39     0   0  1994-95       1997-98           10
40     0   0  1978-79       2008-09            8
41     0   0  1971-72       1979-80           12
42     0   0  1963-64       1969-70            7
43     0   0  1999-00       2008-09           17
44     0   0  2014-15       2014-15           10
45     0   4     1929       1934-35            3
46     0   0  1990-91       1992-93            9
47     0   0  1947-48       2006-07            7
48     0   0  1996-97       1998-99           17
49     0   0  1995-96       1997-98           19
50     0   0  1945-46       1950-51           10
51     0   0  1953-54       1957-58           14
52     1   1     1929       1931-32            6
53     0   0  1979-80       1980-81           10
54     0   0     1929       1930-31            8
55     0   0  1950-51       1993-94           16
56     0   0  2016-17       2016-17           17
57     0   0  2009-10       2009-10           20
58     0   0  1956-57       1956-57           16
59     0   0  1951-52       1951-52           16
60     0   0  1955-56       1955-56           15
61     0   0  2017-18       2017-18            9

[61 rows x 20 columns]

# 2) Print all the teams which have started playing between 1930-1980.

In [4]:
#split the column 'Debut' using delimiter hypen '-' and 
#store the year values in new Series sy(start year) ey(end year)

split_debut=new_llg['Debut'].str.split('-',1)
sy =split_debut.str.get(0)
ey =split_debut.str.get(1)


#fetching the index from sy, store value ey = sy +1 and append to the list end_yr

for i in sy.index:
    ey.at[i] = int(sy.at[i]) +1
        
# creating new columns 'Debut_Start' and 'Debut_End' in new_llg
new_llg['Debut_Start']=sy.astype('int')
new_llg['Debut_End']=ey.astype('int')

In [10]:
#Teams which have started playing between 1930-1980 

debut_new = new_llg.loc[:,['Team','Debut']][(new_llg['Debut_Start']>= 1930) & (new_llg['Debut_End']<=1980)]


#remove the index from the dataframe

debut_new_value= debut_new.to_string(index=False)
print('Teams which have started playing between 1930-1980 are as follows: \n\n',debut_new_value)

Teams which have started playing between 1930-1980 are as follows:

                 Team    Debut
            Valencia  1931-32
             Sevilla  1934-35
            Zaragoza  1939-40
          Real Betis  1932-33
 Deportivo La Coruna  1941-42
          Celta Vigo  1939-40
          Valladolid  1948-49
      Sporting Gijon  1944-45
             Osasuna  1935-36
              Malaga  1949-50
              Oviedo  1933-34
            Mallorca  1960-61
          Las Palmas  1951-52
             Granada  1941-42
      Rayo Vallecano  1977-78
               Elche  1959-60
            Hercules  1935-36
            Tenerife  1961-62
              Murcia  1940-41
              Alaves  1930-31
             Levante  1963-64
           Salamanca  1974-75
            Sabadell  1943-44
               Cadiz  1977-78
           Castellon  1941-42
             Cordoba  1962-63
          Recreativo  1978-79
           Burgos CF  1971-72
          Pontevedra  1963-64
           Gimnastic  1947-48
            Alcoyano  1945-46
                Jaen  1953-54
          AD Almeria  1979-80
              Lleida  1950-51
              Condal  1956-57
     Atletico Tetuan  1951-52
    Cultural Leonesa  1955-56

# 3) Print the list of teams which came Top 5 in terms of points

In [6]:
# Sort the dataframe based on the values in column 'Points'
# Then fetch the top five teams from sorted dataframe

new_llg['Points'] = new_llg['Points'].astype('int')
new_llg.sort_values(by='Points', ascending=False)
top5 = new_llg['Team'].head(5)

top5_value = top5.to_string(index=False)
print('Top five teams based on points are: \n',top5_value)

Top five teams based on points are:
      Real Madrid
       Barcelona
 Atletico Madrid
        Valencia
 Athletic Bilbao

# 4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference

# Goal_diff_count = GoalsFor - GoalsAgainst

In [11]:
def Goal_diff_count():
    new_llg['Goal_diff_count'] = new_llg['GoalsFor'].astype('int') - new_llg['GoalsAgainst'].astype('int')
    return new_llg.loc[:, ['Team', 'Goal_diff_count']]

goal_diff = Goal_diff_count()

#print(goal_diff)
#Find the team which has maxmum and minimum goal difference
g_max = goal_diff['Team'][goal_diff.Goal_diff_count == goal_diff.Goal_diff_count.max()]
g_min = goal_diff['Team'][goal_diff.Goal_diff_count == goal_diff.Goal_diff_count.min()]

# Team name without index:
g_max_value= g_max.to_string(index=False)
g_min_value= g_min.to_string(index=False)

print('\nThe team which has maximum goal difference is: ',g_max_value)
print('\nThe team which has minimum goal difference is: ', g_min_value)

The team which has maximum goal difference is:   Real Madrid

The team which has minimum goal difference is:   Racing Santander

# 5) Create a new column with name “Winning Percent” and append it to the data set  
# Percentage of Winning = (GamesWon / GamesPlayed)*100
# If there are any numerical error, replace it with 0%
# Print the top 5 teams which has the highest Winning percentage

In [8]:
#created new column 
new_llg["Winning Percent"] = (new_llg['GamesWon'].astype('float')/new_llg['GamesPlayed'].astype('float'))*100

#replaces NaN with 0
new_llg.fillna(value=0, inplace=True)

#Sort by "Winning Percent" and print top 5 Teams
sort_by_per = new_llg.sort_values(by="Winning Percent", ascending=False)
top5_win = sort_by_per.loc[:,['Team' ,'Winning Percent']].head(5)
top5_win_value = top5_win.to_string(index=False)
print('The top 5 teams which has the highest Winning percentage are: \n\n',top5_win_value)

The top 5 teams which has the highest Winning percentage are:

             Team  Winning Percent
     Real Madrid        59.630702
       Barcelona        57.241130
 Atletico Madrid        47.475134
        Valencia        44.557057
 Athletic Bilbao        43.772629

# 6. Group teams based on their “Best position” and print the sum of their points for all positions

# Eg: Best Position Points
# 1. 25000
# 2. 7000

In [9]:
#change the type of 'BestPosition' to int and sort the order by 'BestPosition' value

new_llg['BestPosition']=new_llg['BestPosition'].astype('int')
sort_by_BP = new_llg.sort_values(['BestPosition'],ascending=True)

#grp_by_BP = sort_by_BP.groupby('BestPosition').sum()[['Points']] –» This returns a DataFrame object.

#grp_by_BP = sort_by_BP.groupby('BestPosition').sum().Points –» This returns a Series object.
#convert series to dataframe by using df.to_frame()
#print(grp_by_BP.to_frame())

grp_by_BP = sort_by_BP.groupby('BestPosition').sum()[['Points']] 
print('The sum of points for all positions is as below: \n\n',grp_by_BP)

grp_by_BPT = sort_by_BP.groupby(['BestPosition','Team']).sum()[['Points']] 
print('\n\n\nGroup of teams based on their “Best position” is: \n\n',grp_by_BPT)

The sum of points for all positions is as below:

               Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34



Group of teams based on their “Best position” is:

                                   Points
BestPosition Team
1            Athletic Bilbao        3368
             Atletico Madrid        3442
             Barcelona              4262
             Deportivo La Coruna    1814
             Real Betis             1884
             Real Madrid            4385
             Real Sociedad          2573
             Sevilla                2819
             Valencia               3386
2            Las Palmas             1020
             Racing Santander       1416
             Sporting Gijon         1389
             Villarreal              970
             Zaragoza               2109
3            Arenas                  107
             Espanyol               2792
             Mallorca               1148
             Oviedo                 1174
4            Castellon               285
             Celta Vigo             1789
             Malaga                 1314
             Osasuna                1351
             Sabadell                353
             Valladolid             1471
5            Cordoba                 230
             Elche                   606
             Hercules                538
             Tenerife                510
6            Alaves                  421
             Getafe                  553
...                                  ...
             Levante                 416
             Real Union               56
7            Albacete                277
             Gimnastic                91
             Logrones                293
             Pontevedra              150
             Salamanca               375
8            Almeria                 242
             Europa                   42
             Rayo Vallecano          662
             Recreativo              188
9            Girona                    0
             Real Burgos              96
10           AD Almeria               52
             Alcoyano                 76
             Compostela              190
             Eibar                   132
11           Murcia                  445
12           Burgos CF               168
             Cadiz                   343
14           Jaen                     71
15           Cultural Leonesa         14
16           Atletico Tetuan          19
             Condal                   22
             Lleida                   40
17           Extremadura              83
             Leganes                  35
             Numancia                148
19           Merida                   81
20           Xerez                    34

[61 rows x 1 columns]